/*GENERAL*/
a:hover {
  text-decoration: none;
}

/*MAIN*/
main {
  position: fixed;
  top: 0;
  bottom: 60px;
  width: 100%;
  color: white;
}

/*ASIDE*/
main aside {
  width: 55px;
  background-color: #000000;
}

aside > * {
  padding-right: 15px;
}

aside div.logo {
  margin: 10px 0 20px 15px;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

aside ul li:not(.active) {
  margin: 8px 0 8px 15px;
}

aside ul li.active {
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: yellowgreen;
  padding-left: 12px;
}

#home, #user {
  color: white;
}

aside ul li a {
  color: #494949;
}

aside ul li a:hover {
  color: white;
}

aside img {
  width: 25px;
}

@media screen and (min-width: 768px) {

  main aside {
    width: 250px;
  }

  aside div.logo {
    margin-top: 20px;
  }
  
  aside div.logo img {
    width: 130px;
  }

}

.playlists {
  flex-grow: 1;
  overflow: auto;
}

.rule {
  border-style: solid;
  border-color: #494949;;
  border-width: 0 0 1px;
}

main section.main-content {
  flex-grow: 1;
}

/*TOOLBAR*/
.toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #282828;
}